.jumbotron {
  background-color: #fff;
  margin-bottom: 0;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-bottom: 6rem;
    padding-top: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

/* Product price */
.HRLxBb {
  font-weight: bold;
}
