/* Padding below the footer and lighter body text */
body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}
  
.feature-display {
  margin-top: 4rem;
}
  
/* Center align the text within the three columns below the carousel */
.feature-display .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.feature-display h2 {
  margin-top: 1.5rem;
  font-weight: 400;
}

.feature-display .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
