html {
  min-height: 100%;
  position: relative;
}

body {
  color: #5a5a5a;
  padding-bottom: 3rem; /* Padding below the footer */
  padding-top: 3rem;
}

.bd-placeholder-img {  
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  font-size: 1.125rem;
  text-anchor: middle;
  user-select: none; 
}
  
.feature-display {
  margin-top: 4rem;
}

.feature-display .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.feature-display h2 {
  font-weight: 400;
  margin-top: 1.5rem;
}

.feature-display .col-lg-4 p {
  margin-left: .75rem;
  margin-right: .75rem;
}

.fa-image {
  background:#DB4437;
  border-radius: 50%;
  color: white;
  font-size: 75px;
  padding:30px;
}

.fa-list {
  background: #F4B400;
  border-radius: 50%;
  color: white;
  font-size: 75px;
  padding:30px;
}

.fa-barcode {
  background:#0F9D58;
  border-radius: 50%;
  color: white;
  font-size: 75px;
  padding:30px;
}

.navbar-brand {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 30px;
}

.nav-item {
  font-size: 18px;
}

h1 {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 55px;
  margin-bottom: 5%;
}

/* Sticky footer */
.footer {
  background-color: #f5f5f5;
  bottom: 0;
  position: absolute;
  width: 100%;
}

/* CSS for upload function */
.bg-model {
  align-items: center; /* Align vertically*/
  background: cover;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: none;
  font-size: 20px;
  height:90%;
  justify-content: center;
  margin-bottom: 3%;
  margin-top: 4%;
  position: absolute ;
  top:0;
  left:0;
  padding-bottom: 3rem; /* Padding below the footer */
  padding-top: 3rem;
  width: 100%;
}

.model-content {
  height: 23%;
  padding: 10%;
  position: absolute;
  top: 0;
  text-align: center;
  width: 80%;
}

input {
  display:  block;
  margin: 15px auto;
  margin-bottom: 5%;
  width: 50%;
}

.close {
  color: white;
  cursor: pointer;
  font-size: 50px;
  margin: 3%;
  position: absolute;
  right: 14px;
  top: 0;
  transform: rotate(45deg);
}

/* Upload images form is hidden by default. */
.hidden {
  display: none;
}

#history {
  margin-bottom: 5%;
  padding-bottom: 3%;
}

.image-element {
  margin: 3%;
}
