/* Padding below the footer and lighter body text */
body {
  color: #5a5a5a;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none; 
}
  
.feature-display {
  margin-top: 4rem;
}
  
/* Center align the text within the three columns below the carousel */
.feature-display .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.feature-display h2 {
  font-weight: 400;
  margin-top: 1.5rem;
}

.feature-display .col-lg-4 p {
  margin-left: .75rem;
  margin-right: .75rem;
}

.fa-image {
  font-size: 75px;
  color: white;
  background:#DB4437;
  padding:30px;
  border-radius: 50%;
}

.fa-list {
  font-size: 75px;
  color: white;
  background: #F4B400;
  padding:30px;
  border-radius: 50%;
}

.fa-barcode {
  font-size: 75px;
  color: white;
  background:#0F9D58;
  padding:30px;
  border-radius: 50%;
}

.navbar-brand {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 30px;
}

.nav-item {
  font-size: 18px;
}

h1 {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 55px;
}
